/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

#root{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 13px;
  text-align: center;
}

.row {
  width: 513px;
  margin: 0 auto;
}

.row:after{
  content: "";
  clear: both;
  display: block;
}

.tile{
  height: 50px;
  width: 50px;
  background: rgb(211, 59, 135);
  float: left;
  border-style: outset;
  border-width: 2px;
  /* line-height: 20px; */
  padding-left: 3px;
  font-size: 38px;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: aliceblue;
}

.explored{
  border-style: inset;
  background-color: rgb(98, 218, 62);
}

.flagged, .bombed{ 
  color: rgb(27, 197, 248);
}

.modal-screen{
  z-index:998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content{
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  height: 120px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translate(-50%);
}