<nav id="sections-sidebar" class="sections-sidebar">
  <ul>
    <li><a href="#">World</a></li>
    <li class="dropdown"><a href="#">San Francisco</a>
      <ul>
        <li class="sub_header">San Francisco</li>
        <li>Students</li>
        <li>Teaching Assistants</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
    </li>
    <li class="dropdown"><a href="#">New York</a>
      <ul>
        <li class="sub_header">New York</li>
        <li>Students</li>
        <li>Teaching Assistants</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
    </li>
    <li class="dropdown"><a href="#">Bootcamp Prep</a>
      <ul>
        <li class="sub_header">Bootcamp Prep</li>
        <li>Students</li>
        <li>Instructors</li>
        <li>Cats</li>
      </ul>
    </li>
    <li><a href="#">Jumpstart</a></li>
    <li class="dropdown"><a href="#">Online</a>
      <ul>
        <li class="sub_header">Online</li>
        <li>Immersive</li>
        <li>Bootcamp Prep</li>
        <li>Cats</li>
      </ul>
    </li>
    <li><a href="#">Marketing</a></li>
    <li class="dropdown"><a href="#">Sales</a>
      <ul>
        <li class="sub_header">Sales</li>
        <li>Associates</li>
        <li>Analytics</li>
        <li>Cats</li>
      </ul>
    </li>
    <li><a href="#">TalentMatch</a></li>
    <li class="dropdown"><a href="#">Alumni</a>
      <ul>
        <li class="sub_header">Alumni</li>
        <li>Students</li>
        <li>Companies</li>
        <li>Opinions</li>
        <li>Cats</li>
      </ul>
    </li>
  </ul>
</nav>