body {
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 10px 10px 20px;
  color: black;
}

.clock {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  width: 550px;
  height: 90px;
  border: 2px solid black;
  margin: 0px 20px 20px 20px;
  padding: 10px;
  background-size: cover;
  background-position-y: 20%;
  background-color: orange;
  color: white;
}

.clock li {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}
