<ul>
    <% parent_comment.post.comments.where(parent_comment_id: parent_comment.id).each do |child_comment| %>
      <li><a href="<%=comment_url(child_comment)%>"><%= child_comment.content %></a></li>
      <%= render "comments/comment", parent_comment: child_comment %>
    <% end %>
</ul>